<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Instagram</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			<li>
				<div class="navbar-text">Tan Bui</div> 
				 
			</li>
			<% if false %>
				<!--<% if user_signed_in? %>
				    <li class="navbar-text"><%= current_user.email %></>
					<li><form><a href="#" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-question-modal">Ask Question</a></form></li>	
					<li>
						<%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
					</li>
					<% else %>
					<li>
						<%= link_to('Login', new_user_session_path) %>
					</li>
				<% end %> -->
			<% end %>
			</ul>
		</div>
	</div>
</nav>