// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

	background-color: #fafafa;

	.navbar {
		background-color: white;
		border-color: black;
	}

	.photos_page {
		flex-grow: 1;
	    margin: 0 auto;
	    max-width: 600px;
	    width: 100%;
	}
}



.new_user {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	input {
	margin-bottom: 10px;
	}
}

.photo_article {
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	margin-bottom: 60px;
	margin-left: -1px;
	margin-right: -1px;

	.username {
    		color: #125688;
    		font-weight: 500;
    	}

	.photo_header {
	     height: 64px;
    	padding: 14px 20px;

    	.gravatar {
    		padding: 0px;
    	}
    	.username {
    		margin-top: 8px; 
    		font-size: 16px;
    	}
    	.photo_time {
    		margin-top: 8px;
    		text-align: right;
    	}
	}

	.photo_content {
      border: 1px solid #edeeee;
      text-align: center;
      padding-top: 20px;
      img{
        height: 300px;
        margin: 0 auto;
      }
    }

    .photo_footer {
    	margin: 10px 0px 15px 0px;

    	.comment_list {
    		list-style-type: none;
    	}
    }
}